<div class='container-fluid'>

	<div class="row">
		<div class='col-md-6'><canvas id="logoCanvas" ></canvas></div>

	</div>

<div class='container-fluid' >

  	<div class="row">

		<div class="col-md-3"><button class='btn btn-danger' id="previousStep">Back</button></div>

  	</div>

  	<div class="row">

		<div class="col-md-2"><button class='btn btn-primary' id="step0">Background Color</button></div>

		<div class="col-md-3"><input class="jscolor" value="ab2567"></div>

  	</div>

  	<div class="row">

		<div class="col-md-2"><button class='btn btn-primary' id="step1">Outer Shape</button></div>

		<div class="col-md-3"><select id='selectMenuShape1'>

			<% for(var i=0; i < bgImages.length; i++) { %>
			<option value='<%= bgImages[i].filePath %>'><%= bgImages[i].bgName%></option>
			<% } %></select></div>

  	</div>

  	<div class="row">

		<div class="col-md-2"><button class='btn btn-primary' id="step2">Inner Shape</button></div>

		<div class="col-md-3"><select id='selectMenuShape2'>

			<% for(var i=0; i < bgImages.length; i++) { %>
			<option value='<%= bgImages[i].filePath %>'><%= bgImages[i].bgName%></option>
			<% } %></select>

		</div>

	</div>

  	</div>

  	<div class="row">

		<div class="col-md-2"><button class='btn btn-primary' id="step3">Icon</button></div>

		<div class="col-md-3">

			<select id='selectMenu'>

			<% for(var i=0; i < results.length; i++) { %>
			<option value='<%= results[i].filePath %>'><%= results[i].iconName%></option>
			<% } %>

			</select>

		</div>

  	</div>

  	<div class="row">

		<div class="col-md-2"><button class='btn btn-primary' id="step4">Text</button></div>

		<div class="col-md-3"><input id="canvasText" value=""></div>

  	</div>

</div>

	<div>

	  <ul>

	  <a id="dl" download="Canvas.png" href="#">Download Canvas</a>

	  </ul>

	</div>

	<form id="uploadForm" action='/createAndAddLogo' method="post">

		<input type="hidden" name="dataURL" id="dataURL" />

		<input type="text" name='logoName' id='logoName' />

		<input type="submit" value="Upload File" id="submit" name="submit">

	</form>
	
	<script type="text/javascript" src="js/canvas.script.js"></script>