<%
    <!-- store all flash messages in variable messages -->
    var messages = req.flash("message");
    <!-- if there is at least one message loop through all of them and display them to the user -->
    if (messages.length > 0){

  %>
      <!-- for each message in the variable messages create a div with a bootstrap alert tag with the user message -->
      <% for(msg in messages) { %>
                        
          <div class="alert alert-info"><h3><%= messages[msg] %><h3></div>

      <% } %>

<% } %>
<div class='container-fluid border-0 well'>
  <h1 id="logosTitle">Logos</h1>
    <div class="row" id="profile-grid">
      <% sql.forEach(function (logos) { %>
          <div class="col-sm-4 col-xs-12 profile">
              <div class="panel panel-default">
                  <div class="panel-thumbnail">
                     <a href="#" title="<%= logos.logoName %>" class="thumb">
                          <img src="assets/user_icons/<%= logos.logoID+logos.logoName %>" class="img-responsive img-rounded" data-toggle="modal" data-target=".modal-profile-lg">
                     </a>
                  </div>
                  <div class="panel-body">
                      <p class="profile-name"><%= logos.logoName %></p><p>Date Created: <%=logos.dateCreated %></p>

                        <a href="#"  data-toggle="modal" href="assets/user_icons/<%= logos.logoID+logos.logoName %>" name='<%= logos.logoName %>'data-target="#confirm-download" title='assets/user_icons/<%= logos.logoID+logos.logoName %>' class='download'>Download</a>
                        <a href="#" title="<%= logos.logoID %>" type="button" class="btn btn-default delete-btn" data-toggle="modal" data-target="#confirm-submit">Delete</a>

                  </div>  
              </div>
          </div> 
               
            <% }) %>
    </div> 
</div>

<!-- .modal-profile -->

<div class="modal fade modal-profile" tabindex="-1" role="dialog" aria-labelledby="modalProfile" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">x</button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- //.modal-profile -->

<!-- modal-submit -->

<div class="modal fade modal-submit" id="confirm-submit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Confirm Submit
                </div>
                <div class="modal-body">Are you sure you want to delete logo? </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <a href="#" id="submit" class="btn btn-success success">Submit</a>
                </div>
            </div>
        </div>
</div>

<div class="modal fade modal-download" id="confirm-download" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">Confirm Download</div>
                <div class="modal-body">Which size would you like to download?</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <a download="Logo.png" href="#" class="btn btn-success success " id='dl64'>64x64</a>
                    <a download="Logo.png" href="#" class="btn btn-success success " id='dl128'>128x128</a>
                    <a download="Logo.png" href="#" class="btn btn-success success " id='dl256'>256x256</a>
                    <a download="Logo.png" href="#" id='dl500' class="btn btn-success success " >500x500</a>
                </div>
            </div>
        </div>
</div>